/* 각각의 페이지의 내용 콘텐츠 영역 - 고객센터-자주묻는질문*/

/*.content_topic 공통영역*/
#content .content_topic{font-family: 'Noto Sans KR', sans-serif;}
#content .content_topic h3{font-weight: 700; font-size: 2.25em; color: #333; margin-bottom: 16px;}
#content .content_topic p{font-size: 1.25em; color: #666; line-height: 1.5em;}
#content .area_box{width: 1200px; margin: 0 auto; padding: 120px 0;}

/* tab */
#content .content_tab{text-align: center; font-family: 'Noto Sans KR', sans-serif; width: 2000px; position: relative; left: 50%; top: 0; margin: 40px 0 80px -1000px}
#content .content_tab p{font-weight: 700; font-size: 2.25em; margin-bottom: 56px; color: #333;}
#content .content_tab::before{content: ''; display: block; width: 100%; height: 1px; background: #ececec; position: absolute; bottom: 0; left: 0;}
#content .content_tab ul{overflow: hidden; width: 1200px; margin: 0 auto;}
#content .content_tab li{float: left; width: 25%;}
#content .content_tab li:hover .tab{opacity: 1;}
#content .content_tab li .tab{display: block; margin-bottom: 24px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; font-size: 1.25em; color: #666; opacity: .6; transition: all .5s;}
#content .content_tab li{opacity: 1; position: relative;}
.afline::before{content: ''; display: block; width: 100%; height: 2px; background: #1979bd; position: absolute; left: 0; bottom: 1px;}
#content .contlist{display: none;}

/*content*/
#content .content_area01 .content_topic{margin: 40px 0 80px; text-align: center;}
#content .content_area01 .content_topic a{display: inline-block; font-family: 'Noto Sans KR', sans-serif; font-weight: 500; text-align: center; color: #fff; padding: 20px 56px; background: #1979bd; border-radius: 100px; opacity: .8; transition: all .3s; margin-top: 40px;}
#content .content_area01 .content_topic a:hover{opacity: 1;}
/*contlist*/
#content .content_area01 .contlist{margin-bottom: 120px;}
#content .content_area01 .contlist h4{font-family: 'Noto Sans KR', sans-serif; font-weight: 700; font-size: 2em; color: #333; margin-bottom: 32px; text-align: center;}
#content .content_area01 .all{float: right; font-family: 'Noto Sans KR', sans-serif; color: #1979bd; padding: 16px; margin-bottom: 16px; font-weight: 500; font-size: 1.125em; opacity: .8; transition: all .5s;}
#content .content_area01 .all i{margin-left: 8px;}
#content .content_area01 .all:hover{opacity: 1;}
#content .content_area01 .contlist li{padding: 24px; background: #f8f8f8; border-radius: 16px; margin-bottom: 16px; font-family: 'Noto Sans KR', sans-serif; clear: both;}
#content .content_area01 .contlist li .q .trigger{display:block; padding:10px 15px; font-weight: 500; font-size: 1.25em; color: #333; position: relative; overflow: hidden;}  
#content .content_area01 .contlist li .q .trigger span{float: left; font-family: 'Roboto', sans-serif; font-weight: 700; margin-right: 16px; color: rgba(25, 121, 187, .8);}
#content .content_area01 .contlist li .q .trigger i{color: #999; float: right; margin-top: 4px;}
#content .content_area01 .contlist li .a{font-size: 1.125em; color: #666; position: relative; padding: 16px 15px 16px 64px;; line-height:1.5em; text-align: justify; overflow:hidden; display: none;}
#content .content_area01 .contlist li .a::before{content: ''; display: inline-block; width: 2px; height: 50%; background: rgba(25, 121, 187, .6); position: absolute; left: 48px; top: 30%;}

